@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
}

@layer components {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }

  .scrollbar-light::-webkit-scrollbar-track {
    background: theme("colors.zinc.200");
  }

  .scrollbar-light::-webkit-scrollbar-thumb {
    background: theme("colors.zinc.400");
    border-radius: 10px;
  }

  .scrollbar-light::-webkit-scrollbar-thumb:hover {
    background: theme("colors.zinc.700");
  }

  .scrollbar-dark::-webkit-scrollbar-track {
    background: #282c34;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb {
    background: #e8e8e8;
    border-radius: 10px;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background: #3b3d42;
  }
}

.padding-7 {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.code-modified::before,
.code-modified::after {
  content: "" !important;
}
